* {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

:root {
    --red-primary: #C91022;
    --red-light: #FBEDED;
    --white: #ffffff;
    --black: #000000;
    --green-primary: #36B37E;
    --green-light: #DDF6E2;
    --gray: #F4F6F8;
}

body::-webkit-scrollbar {
    display: none;
}

.navbar {
    background-color: var(--white) !important;
    height: 80px;
}

.nav-link.active {
    background-color: #F4F6F8;
    border-radius: 4px;
}

.navbar-nav {
    gap: 1px !important;
}

.dropdown-toggle::after {
    display: none;
}

.hero {
    height: 45vh;
    /* background-color: var(--red-primary) !important; */
}

.toastui-calendar-grid-cell-date .toastui-calendar-weekday-grid-date.toastui-calendar-weekday-grid-date-decorator {
    background-color: var(--red-primary) !important;
}

a {
    text-decoration: none;
    color: var(--black);
}

a:hover {
    color: var(--white);
}

.nav-link {
    color: var(--black);
}

.nav-link:hover {
    color: var(--red-primary);
}

.nav-link.active {
    background-color: var(--red-light) !important;
    color: var(--red-primary) !important;
}

p {
    margin-bottom: 0;
}

.text-bg-danger {
    color: var(--red-primary) !important;
    background-color: var(--red-light) !important;
}

.text-bg-success {
    color: var(--green-primary) !important;
    background-color: var(--green-light) !important;
}

.btn-success {
    background-color: var(--green-primary);
    border: none;
}

th {
    font-weight: 500;
    line-height: 22px;
    font-size: 14px;
}

.table-responsive {
    padding-top: 10px;
}

h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.btn {
    font-size: 14px;
    padding: 12px 16px;
    border-radius: 4px;
    font-weight: 600;
}

.btn-outline-dark {
    border-color: #EAEAEA;
}

.nim {
    font-size: 14px;
    font-weight: 400;
}

.form-control:focus {
    border: solid #121212 1px;
    /* border-color: #000000 !important; */
    background-color: var(--gray);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0) !important;
}

.form-label {
    font-size: 14px;
    color: #454F5B;
}

.form-control {
    background: var(--gray);
    border-radius: 4px;
    border: none;
    height: 48px;
}

.modal-footer,
.form-select {
    background-color: var(--gray);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    color: transparent;
    cursor: pointer;

    z-index: 1;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    color: transparent;
    cursor: pointer;

    z-index: 1;
}

input[type="date"]:after {
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: 10px;
    content: "\F1F3";
    color: #919EAB;
    width: 20px;
    height: 22px;
    font-family: "bootstrap-icons";
    transform: translateY(-50%);
    z-index: 0;
}

input[type="time"]:after {
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: 10px;
    content: "\F293";
    color: #919EAB;
    width: 20px;
    height: 22px;
    font-family: "bootstrap-icons";
    transform: translateY(-50%);
    z-index: 0;
}

.form-select {
    padding: .3125rem 3rem .3125rem 1rem;
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22%23919EAB%22%20class%3D%22bi%20bi-chevron-down%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M1.646%204.646a.5.5%200%200%201%20.708%200L8%2010.293l5.646-5.647a.5.5%200%200%201%20.708.708l-6%206a.5.5%200%200%201-.708%200l-6-6a.5.5%200%200%201%200-.708z%22%2F%3E%0A%3C%2Fsvg%3E');
    /* font-family: "bootstrap-icons"; */
    background-repeat: no-repeat, repeat;
    background-position: right 1rem center;
    border-radius: .25rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--gray);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    outline: none;
}

.btn-close {
    /* padding: .3125rem 3rem .3125rem 1rem; */
    background-repeat: no-repeat, repeat;
    background-position: right 1rem center;
    border-radius: .25rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22%23919EAB%22%20class%3D%22bi%20bi-x-circle%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%20%20%3Cpath%20d%3D%22M8%2015A7%207%200%201%201%208%201a7%207%200%200%201%200%2014zm0%201A8%208%200%201%200%208%200a8%208%200%200%200%200%2016z%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M4.646%204.646a.5.5%200%200%201%20.708%200L8%207.293l2.646-2.647a.5.5%200%200%201%20.708.708L8.707%208l2.647%202.646a.5.5%200%200%201-.708.708L8%208.707l-2.646%202.647a.5.5%200%200%201-.708-.708L7.293%208%204.646%205.354a.5.5%200%200%201%200-.708z%22%2F%3E%0A%3C%2Fsvg%3E');
}

.btn-close:hover {
    cursor: pointer;
}

.modal-title {
    font-weight: 700;
    font-size: 16px;
}

div:where(.swal2-container) h2:where(.swal2-title) {
    font-weight: 600 !important;
    font-size: 20px !important;
    font-family: 'Plus Jakarta Sans', sans-serif !important;
}

.dropdown-menu li :hover {
    color: var(--red-primary);
    background-color: var(--red-light);
}

.bg-primary {
    background-color: var(--red-primary) !important;
}

.btn-primary {
    background-color: var(--red-primary) !important;
    border: none;
}

.btn-primary:hover {
    background-color: #AD0919 !important;
}